.main__hero__text {
    padding-top: 150px;
}

.main__oportunities__text {
    width: 70%;
    margin: 50px auto;
    background-color: #FFF;
}
.main__oportunities__text > span {
    color: #0096A9;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main__oportunities__text > p {
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}

/* .control-container {
    width: 90%;
    margin: 0 auto;
} */
/* .e-carousel-navigators {
    top: 270px !important;
}
.e-next {
    margin-left: 20px !important;
} */

.main__hero {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/1429249ff1bfbf8778201bcc4844e449.jfif');
    background-position: center;
    background-size: cover;
}




.properties-carousel__item {
    height: 350px;
    display: flex;
    width: 98%;
    background-color: #FFF;
    flex-direction: column;
}

.properties-carousel__item__img {
    height: 100%;
}

.properties-carousel__item__text {
    height: 100px;
    position: absolute;
    background-color: #0096A9;
    bottom: 0;
    width: 98%;
}


.properties-carousel__item__text__desc {
    display: none;
}

@media (max-width: 400px) {
    .footer {
        margin-top: 0px !important;
    }
    
    .contacto__form__card {
        padding: 5px;
    }

    .main__oportunities__text {
        width: 90%; 
    }

    .contacto__form__card {
        width: 90%;
    }
}







/* TENANTS CAROUSEL */

.main__tenants__carousel {
    margin-bottom: 50px;
}

.main__tenants__carousel__grid {
    margin: 0 auto;
    width: 950px;
    height: 220px;

    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows:repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    
}
.main__tenants__carousel__grid__item {
    display: flex;
    width: 140px;
    height: 100px;


    box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);

    background-size: 120px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
}
.main__tenants__carousel__grid__item--walmart {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/walmart.png');
}
.main__tenants__carousel__grid__item--heb {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/heb.png');
}
.main__tenants__carousel__grid__item--superama {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/superama.png');
}
.main__tenants__carousel__grid__item--sams-club {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/sams-club.png');
}
.main__tenants__carousel__grid__item--soriana {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/soriana.png');
}
.main__tenants__carousel__grid__item--chedraui {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/chedraui.png');
}
.main__tenants__carousel__grid__item--ley {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/ley.png');
}
.main__tenants__carousel__grid__item--bodega-aurrera {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/bodega-aurrera.png');
}
.main__tenants__carousel__grid__item-- -tienda {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/mi-tienda.png');
}