.main__hero__text {
    padding-top: 150px;
}

.main__oportunities__text {
    width: 70%;
    margin: 54px auto;
    background-color: #FFF;
}
.main__oportunities__text > span {
    color: #0096A9;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main__oportunities__text > p {
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}

/* .control-container {
    width: 90%;
    margin: 0 auto;
} */
/* .e-carousel-navigators {
    top: 270px !important;
}
.e-next {
    margin-left: 20px !important;
} */

.main__hero {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/foto-3.jpg');
    background-position: center;
    background-size: cover;
}




.properties-carousel__item {
    height: 350px;
    display: flex;
    width: 98%;
    background-color: #FFF;
    flex-direction: column;
}

.properties-carousel__item__img {
    height: 100%;
}

.properties-carousel__item__text {
    height: 100px;
    position: absolute;
    background-color: #0096A9;
    bottom: 0;
    width: 98%;
}


.properties-carousel__item__text__desc {
    display: none;
}

@media (max-width: 400px) {
    .footer {
        margin-top: 0px !important;
    }
    
    .contacto__form__card {
        padding: 5px;
    }

    .main__oportunities__text {
        width: 90%; 
    }

    .contacto__form__card {
        width: 90%;
    }
}


.contacto__form__card {
    width: 950px;
}





/* TENANTS CAROUSEL */

.main__tenants__carousel {
    margin-bottom: 40px;

}

.main__tenants__carousel__grid {
    margin: 0 auto;
    width: 950px;
    height: 250px;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* 
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows:repeat(2, 1fr); */
    column-gap: 20px;
    row-gap: 20px;
    overflow-x: hidden;

}

/* .main__tenants__carousel__grid > div {
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
}
 */
.main__tenants__carousel__grid__item {
    display: flex;
    width: 140px;
    height: 100px;


/*     margin-right: 20px;
 */

    box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -1px 9px 0px rgba(0,0,0,0.5);

    background-size: 120px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    animation: carousel;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.main__tenants__carousel:hover {
    animation-play-state: paused;
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-180vw);
    }
    
}


.main__tenants__carousel__grid__item--walmart {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/walmart.png');
}
.main__tenants__carousel__grid__item--heb {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/heb.png');
}
.main__tenants__carousel__grid__item--superama {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/superama.png');
}
.main__tenants__carousel__grid__item--sams-club {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/sams-club.png');
}
.main__tenants__carousel__grid__item--soriana {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/soriana.png');
}
.main__tenants__carousel__grid__item--chedraui {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/chedraui.png');
}
.main__tenants__carousel__grid__item--ley {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/ley.png');
}
.main__tenants__carousel__grid__item--bodega-aurrera {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/bodega-aurrera.png');
}
.main__tenants__carousel__grid__item--mi-tienda {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/mi-tienda-del-ahorro.png');
}
.main__tenants__carousel__grid__item--cinemex {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/cinemex.png');
}
.main__tenants__carousel__grid__item--cinepolis {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/cinepolis.png');
}
.main__tenants__carousel__grid__item--the-home-depot {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/the-home-depot.png');
}
.main__tenants__carousel__grid__item--elektra {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/elektra.png');
}
.main__tenants__carousel__grid__item--radio-shack {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/radio-shack.png');
}
.main__tenants__carousel__grid__item--dico {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/dico.png');
}
.main__tenants__carousel__grid__item--famsa {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/famsa.png');
}
.main__tenants__carousel__grid__item--coppel {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/coppel.png');
}
.main__tenants__carousel__grid__item--sanborns {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/sanborns.png');
}
.main__tenants__carousel__grid__item--suburbia {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/suburbia.png');
}
.main__tenants__carousel__grid__item--promoda {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/promoda.png');
}
.main__tenants__carousel__grid__item--parisina {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/parisina.png');
}
.main__tenants__carousel__grid__item--del-sol {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/del-sol.png');
}
.main__tenants__carousel__grid__item--modatelas {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/modatelas.png');
}
.main__tenants__carousel__grid__item--petco {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/petco.png');
}
.main__tenants__carousel__grid__item--santander {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/santander.png');
}
.main__tenants__carousel__grid__item--banorte {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/banorte.png');
}
.main__tenants__carousel__grid__item--citibanamex {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/citibanamex.png');
}
.main__tenants__carousel__grid__item--citibanamex {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/citibanamex.png');
}
.main__tenants__carousel__grid__item--hsbc {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/hsbc.png');
}
.main__tenants__carousel__grid__item--scotiabank {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/scotiabank.png');
}
.main__tenants__carousel__grid__item--first-cash {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/first-cash.png');
}
.main__tenants__carousel__grid__item--office-depot {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/office-depot.png');
}
.main__tenants__carousel__grid__item--office-max {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/office-max.png');
}
.main__tenants__carousel__grid__item--innova-sport {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/innova-sport.png');
}
.main__tenants__carousel__grid__item--sally {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/sally.png');
}
.main__tenants__carousel__grid__item--super-fitness {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/super-fitness.png');
}
.main__tenants__carousel__grid__item--caliente-casino {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/caliente-casino.png');
}
.main__tenants__carousel__grid__item--yak {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/yak.png');
}
.main__tenants__carousel__grid__item--pockets {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/pockets.png');
}
.main__tenants__carousel__grid__item--auto-zone {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/auto-zone.png');
}
.main__tenants__carousel__grid__item--telcel {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/telcel.png');
}
.main__tenants__carousel__grid__item--att {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/att.png');
}
.main__tenants__carousel__grid__item--movistar {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/movistar.png');
}
.main__tenants__carousel__grid__item--starbucks {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/starbucks.png');
}
.main__tenants__carousel__grid__item--ihop {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/ihop.png');
}
.main__tenants__carousel__grid__item--johny-rockets {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/johnny-rockets.png');
}
.main__tenants__carousel__grid__item--tgi-fridays {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/tgi-fridays.png');
}
.main__tenants__carousel__grid__item--bostons-restaurant {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/bostons-restaurant.png');
}
.main__tenants__carousel__grid__item--toks-restaurant {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/toks-restaurant.png');
}
.main__tenants__carousel__grid__item--chilis {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/chilis.png');
}
.main__tenants__carousel__grid__item--peter-piper-pizza {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/peter-piper-pizza.png');
}
.main__tenants__carousel__grid__item--carls-jr {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/carls-jr.png');
}
.main__tenants__carousel__grid__item--burger-king {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/burger-king.png');
}
.main__tenants__carousel__grid__item--kfc {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/kfc.png');
}
.main__tenants__carousel__grid__item--mcdonalds {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/mcdonalds.png');
}

@media (max-width: 1000px) {

    .main__tenants__carousel__grid {
        width: 90%;
    }

}
.contacto__form__card__address__phone {
    display: flex;
}
.contacto__form__card__address__phone > p {
    width: 50%;padding-right: 40px;

    font-family: "Raleway";
    font-size: 14px !important;
    margin-top: 20px;
    width: 50%;

}

.contacto__form__card__form__container {
    width: 100%;
}
#dialog_dialog-content {
    padding: 0px ;  
}

.main__spliter {
    margin-top: 0px;
}


.main__hero__text__p-blue {
    font-size: 38px !important; 
}


.cfcSocial {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    margin-top: 6px;
    justify-content: flex-end;
    cursor: pointer;
    padding-right: 50px;
  
    & a {
      margin-left: 10px;
  
      & i {
        height: 20px;
      }
    }
  }

.contacto__form__card__form--portfolio--email {
    padding-right: 40px;
}
.contacto__form__card__form--portfolio--personalidad {
    padding-right: 40px;
    margin-top: 20px;
}
.contacto__form__card__form--portfolio--comentarios {
    padding-right: 40px;
    margin-top: 20px;
}
.contacto__form__card__form.contacto__form__card__form--portfolio--propiedad {
    flex-direction: column;
}
textarea {
    resize: none;
}
