
.main__hero__downbar {
    background-color: #0096A9;
    display: flex;
    position: relative;
    top: 450px;
    height: 100px;
    width: 100%;
}
.main__hero_downbar__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100px;
    padding-left: 15%;
}
.main__hero_downbar__text > span {
    color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px; /* 100% */
    letter-spacing: 1px;
    text-transform: uppercase;

}
.main__hero_downbar__text > p {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.main__hero_downbar__title {
    display: flex;
    width: 60%;
    background-color: #F5F3F1;
    align-items: center;
    padding-left: 40px;
}
.main__hero_downbar__title > h2 {
    color: #545859;
    font-family: Fjalla One;
    font-size: 33.734px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 103.752% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

li {
    list-style: none;
}


.main__comer {
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 100px;
}
.main__comer__left {
    width: 30%;
;
    padding-top: 40px;
    padding-left:  200px;
    padding-right:  80px;

}

.main__comer__right {
    width: 70%;
    background-color: #EFEFED;
    display: flex;
    flex-direction: column;
}


.main__comer__left__text > span {
    color: #0096A9;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 1px;
    text-transform: uppercase;

    display: flex;
    margin-bottom: 20px;
}
.main__comer__left__text > p {
    color: #333;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.71px;
    text-align: justify;

    margin-bottom: 20px;
}

.main__comer__left__icon {
    height: 60px;
    width: 60px;
    background-image:  url'');
    margin-bottom: 20px;
}

.main__comer__right__tab_selector {
    background-color: #FFF;
}

.main__comer__right__tab_selector > ul {
    display: flex;
    width: 100%;
    align-items: start;
}
.main__comer__right__tab_selector > ul > div {
    display: flex;
    width: 15%;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;

    
    cursor: pointer;
}
.main__comer__right__tab_selector > ul > div > li {
    color: #545859;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.main__comer__right__tab_content > p {
    padding: 40px;
    background-color: #EFEFED;
    color: #545859;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}

.main__comer__right__tab_content__container {
    position: relative;
    height: 100%;
}

.main__comer__right__tab_content {
    height: 100%;
    background-size: cover;
    background-position-y: top;

    transition: all .5s;
}

.inactive {
    opacity: 0.5 !important;
}
.active {
    opacity: 1 !important;
}

.main__comer__right__tab_content--1 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/comer-1.jpeg');
}
.main__comer__right__tab_content--2 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/comer-2.jpeg');
}
.main__comer__right__tab_content--3 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/comer-3.jpeg');
    background-position-y: center;
}
.main__comer__right__tab_content--4 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/comer-4.jpeg');
    background-position-y: center;
}
.main__comer__right__tab_content--5 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/comer-5.jpeg');
    background-position-y: center;
}

.selected__tab {
    background-color: #EFEFED;
}

@media (max-width: 1500px) {
    .main__comer__left {
        padding: 80px;
    }
}
@media (max-width: 1000px) {
    .main__hero__downbar {
        top: 250px
    }
    .main__hero_downbar__text {
        padding-left: 40px;
    }
    
    .main__comer {
        flex-direction: column;
        margin-top: 50px;
    }
    
    .main__comer__right {
        width: 100%;
    }
    .main__comer__right__tab_selector > ul > div {
        flex-grow: 1;        
    }


    .main__comer__left {
        display: flex;
        padding: 20px;
        width: 100%;
    }
    .main__comer__left__icon {
        width: 100px;
        height: 100%;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        background-position: center;
    }
    .main__comer__left__text {
        padding-left: 20px;
    }

    .main__comer__right__tab_content__container {
        height: 400px;
    }

    .footer__nosotros {
        margin-top: 20px;
    }   
}

@media (max-width: 750px) {
    .main__comer {
        margin-top: 180px;
    }
}
@media (max-width: 450px) {
    .main__comer {
        margin-top: 150px;
    }

    .main__comer__left {
        padding: 10px;
    }
    .main__comer__left__text {
        width: 70%;
        padding-left: 10px;
    }

    .main__comer__right__tab_selector > ul > div> li {
        font-size: 11px;
    }

    .main__hero__downbar {
        top: 330px ;
    }
    .main__hero_downbar__title {
        padding-left: 10px;
    }
    .main__hero_downbar__title >  h2 {
        font-size: 20px;
    }

    .footer--comer {
        height: 350px !important;
        padding-top: 150px !important;
    }

    .main__hero_downbar__text {
        padding-left: 10px !important;
    }
    .main__hero_downbar__text > span {
        font-size: 20px;
        text-align: start;
    }
    .main__hero_downbar__text > p {
        font-size: 8px;
    }

    .main__comer__right__tab_content > p {
        padding: 20px;
    }

    .main__hero__text {
        padding-top: 160px;
    }
}