.amb_section--2 {
    background-color: #fff;
}

.hero__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/gobernanza/responsabilidad_social.png') !important;
    width: 100% !important;
}
.amb_section--2 > .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;   

    padding: 80px 40px;
    row-gap: 120px;
}

.grid_item {
    margin: 0px 40px;
}

/* .grid_item:nth-child(1) { grid-area: 1 / 1 / 2 / 5; }
.grid_item:nth-child(2) { grid-area: 1 / 5 / 2 / 9; }
.grid_item:nth-child(3) { grid-area: 1 / 9 / 2 / 13; }
.grid_item:nth-child(4) { grid-area: 2 / 3 / 3 / 7; }
.grid_item:nth-child(5) { grid-area: 2 / 7 / 3 / 11; }
 */
.social_section--3 {
    width: 100%;    
    background-color: #F0F0F0;    
}
.social_section--3 > div {
    width: 90%;
    max-width: 1200px;    
    margin: 0 auto;
    padding: 40px 0px;

}

.social_section--3 > div > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-align: justify;
}
.social_section--3 > div > span {
    color: #0096A9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 22.86px; /* 127% */
    letter-spacing: 2px;

    display: inline-block;
    margin-bottom: 20px;
}


.social_section--4 {
    background-color: #EFEFED;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
}
.social_section--4 > .card__content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    position: absolute;

    transition: all .2s;
}


.social_section--4 > .card__content > .card__content__text {
    width: 50%;
    padding: 80px 80px 80px 0px;
    display: flex;
    align-items: center;
}
.social_section--4 > .card__content > .card__content__img {
    width: 50%;
    height: 300px;
    background-color: #d9d9d9;
    background-size: cover;
    background-position-y: top;

}
.social_section--4 > .card__content > .card__content__img--1 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/social/tab-1.PNG');
    background-position-y: 65%;
}
.social_section--4 > .card__content > .card__content__img--2 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/social/tab-2.PNG');
}
.social_section--4 > .card__content > .card__content__img--3 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/social/tab-3.PNG');
    background-position-y: top;
}
.social_section--4 > .card__content > .card__content__img--4 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/social/tab-4.PNG');

}

.social_section--4 > .card__content > .card__content__text > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}


.social_section--5 {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 40px;    
}
.social_section--5 > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-align: justify;
}
.social_section--5 > span {
    color: #0096A9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 22.86px; /* 127% */
    letter-spacing: 2px;

    display: inline-block;
    margin-bottom: 20px;
}


.social_section--6 {
    background-color: #F0F0F0;
    display: flex;
    height: 300px;
}
.social_section--6 > div> .social_tab__selectors {
    width: 40%;
    flex-grow: 1;
    background-color: #d9d9d9;
    background-color: #EFEFED;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social_section--6 > div > .social_tab__selectors > .social_tab__selector {
    cursor: pointer;
}

.social_section--6 > div > .social_tab__selectors > .social_tab__selector {
    color: #D7282F;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: 22.86px; /* 142.875% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.social_section--6 > div > .social_tab__selectors > .social_tab__selector {
    height: 65px;
    display: flex;
    align-items: center; 
    padding-left: 40px;
}

.social_section--6 > div > .social_tab__selectors > .selected {
    background-color: #d9d9d9;
    width: 100%;
}

.social_section--6 > div > .social_tab__contents {
    width: 500px !important;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
}

.social_tab__content > img {
    object-fit: contain;
    height: 100%;
}

@media (max-width: 1000px) {

    .social_section--6 {
        height: 600px;
    }
    .social_section--6 > div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social_tab__selectors {
        width: 100% !important;
        height: 300px;
    }    
    .social_tab__contents {
        height: 300px;
    }
    
    .hero__img {
        height: 400px;
    }
    .main__hero__downbar {
        top: 20px;
    }
    
    .amb_section--1 {
        padding-top: 20px;
    }
    .amb_section--1 > .text {
        background-color: #F0F0F0;
        padding:  20px;
    }
    .amb_section--1 > .text > p {
        text-align: justify;
    }
    .amb_section--2 > .grid {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        
        padding: 40px; 
        row-gap: 20px;
    }

    .grid_item:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
    .grid_item:nth-child(2) { grid-area: 2 / 1 / 3 / 2; }
    .grid_item:nth-child(3) { grid-area: 3 / 1 / 4 / 2; }
    .grid_item:nth-child(4) { grid-area: 4 / 1 / 5 / 2; }
    .grid_item:nth-child(5) { grid-area: 5 / 1 / 6 / 2; }

    .social_section--4 {
        height: 500px;
        align-items: center;
    }
    .card__content {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .card__content__img {
        height: 100% !important;
        width: 100% !important;
    }
    .card__content__text {
        padding: 10px !important;
        width: 100% !important;
    }
    
}


.amb_section--2 > .grid > .grid_item > .grid_item__img--1 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/S_dryer.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--2 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/S_igualdad-de-genero.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--3 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/S_reporte-de-negocios.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--4 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/S_informacion.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--5 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/S_marketplace-Comunity.png');
}

.section--3 {
    margin-top: 40px !important; 
}

.gobernanza_section--1 > div > ul {
    width: 400px !important;
}