@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&family=Fredoka&family=Fresca&family=Raleway:wght@400;600&display=swap');


.main__hero {
    background: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/Valores.jpg');
    background-size: cover;
}
.main__hero__downbar {
    background-color: #0096A9;
    display: flex;
    position: relative;
    top: 450px;
    height: 100px;
    width: 100%;
}
.main__hero_downbar__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 100px;
    padding-left: 25%;
}
.main__hero_downbar__text > span {
    color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px; /* 100% */
    letter-spacing: 1px;
    text-transform: uppercase;

}
.main__hero_downbar__text > p{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.main__hero_downbar__title {
    display: flex;
    width: 60%;
    background-color: #F5F3F1;
    align-items: center;
    padding-left: 40px;
}
.main__hero_downbar__title > h2 {
    color: #545859;
    font-family: Fjalla One;
    font-size: 33.734px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 103.752% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nosotros_info {
}

.nosotros_info__grid {
    margin: 60px auto;
    width: 60%;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nosotros_info__grid__item--1 {
    grid-area: 1 / 1 / 4 / 25;

    padding: 20px;
}
.nosotros_info__grid__item--1 > p {
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}

.nosotros_info__grid__item--square {
    padding: 20px 20px;    
    display: flex;
    flex-direction: column;
    position: relative;
}

.nosotros_info__grid__item--square > span {
    color: #C04D00;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.833% */
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;

}
.nosotros_info__grid__item--square > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-align: justify;

}



.nosotros_info__grid__item--2 {
    grid-area: 4 / 1 / 13 / 9;
}
.nosotros_info__grid__item--2:after {
    content: '';
    width: 1px;
    height: 100px;
    background: #C04D00;
    position: absolute;
    top: 120px;
    right: 0;
}
.nosotros_info__grid__item--3 { grid-area: 4 / 9 / 13 / 17; }
.nosotros_info__grid__item--3:after {
    content: '';
    width: 1px;
    height: 100px;
    background: #C04D00;
    position: absolute;
    top: 120px;
    right: 0;
}
.nosotros_info__grid__item--4 { grid-area: 4 / 17 / 13 / 25; }


/*
Responsive Design
*/

@media (max-width: 1000px) {
    .main__hero__text__p-bar {
        font-size: 28px;
    }
    .main__hero_downbar__text {
        padding-left: 10%;
    }

    .nosotros_info__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 80%;
        margin-top: 150px;
    }

    .nosotros_info__grid__item--square > span {
        margin: 20px 0px ;
    }

    .nosotros_info__grid__item--1 { grid-area: 1 / 1 / 2 / 2; }
    .nosotros_info__grid__item--2 { grid-area: 2 / 1 / 3 / 2; }
    .nosotros_info__grid__item--3 { grid-area: 3 / 1 / 4 / 2; }
    .nosotros_info__grid__item--4 { grid-area: 4 / 1 / 5 / 2; }

    .nosotros_info__grid__item--square {
        padding: 10px;
        margin: 0 auto;
        width: 100% !important;


    }
    .nosotros_info__grid__item--1 {
        padding: 0px;
        margin: 0 auto;
    }

    .nosotros_info__grid__item--square:after {
        display: none;
    }

}

@media (max-width: 500px) {

    .footer {
        margin-top: 400px !important ;
    }
    .main__hero__text__p-bar {
        font-size: 20px;
    }
    .main__hero_downbar__text {
        padding-left: 20px;
    }
    .main__hero_downbar__text > p {
        font-size: 12px;
    }
    .main__hero_downbar__text > span {
        font-size: 10px;
    }
}



/* Lo que hacemos - Stylesheet */

.lo_que_hacemos_info {
    height: 450px;
}

.lo_que_hacemos_info--grid {
    margin: 60px auto;
    width: 60%;
    height: 450px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.lo_que_hacemos_info__item--1 {

    padding: 20px;
}
.lo_que_hacemos_info__item--1 > p {
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}

li {
    list-style-type: none;
}

.lo_que_hacemos_info__item--2 {
    padding: 20px;
}
.lo_que_hacemos_info__item--2 > ul {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.lo_que_hacemos_info__item--2 > ul > li {
    color: #545859;
    font-family: Fjalla One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 277.778% */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.lo_que_hacemos_info__item--2 > ul > img {
    height: 20px;
    border: solid rgb(212, 210, 210) 1px;
}

.lo-que-hacemos-card {
    display: flex;
    padding-top: 20px;
    height: 300px;
}
.lo-que-hacemos-card__img {
    width: 40%;

    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/desarrollo.png');
    background-size: cover;
}
.lo-que-hacemos-card__text {
    width: 60%;
    padding: 0px 0px 0px 20px;
}
.lo-que-hacemos-card__text > p {
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}
.lo-que-hacemos-card__text > p > b{
    font-weight: 1000;
}

.lo_que_hacemos_info--responsive {
    display: none;

}

.main__row {
    border-top: 1px solid #72727280 ;
}








/* Responsive Lo que hacemos */

.footer--loque {
    margin-top: 200px !important;
    height: 200px;
}

@media (max-width: 1280px) {
    .footer {
        margin-top: 120px;
    }
}
@media (max-width: 1267px) {
    .footer {
        margin-top: 140px;
    }
}
@media (max-width: 1155px) {
    .main__row {
        margin-top: 100px;
    }
    .footer {
        margin-top: 250px;
    }
}
@media (max-width: 1105px) {
    .main__row {
        margin-top: 100px;
    }
    .footer {
        margin-top: 270px;
    }
}
@media (max-width: 1079px) {
    .main__row {
        margin-top: 100px;
    }
    .footer {
        margin-top: 300px;
    }
    .footer--loque {
        margin-top: 0px !important;
        height: 200px;
    }
}


.tabs___card--2 > div > .lo-que-hacemos-card__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/diseno.jpeg');
}
.tabs___card--3 > div > .lo-que-hacemos-card__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/constr.png');
}
.tabs___card--4 > div > .lo-que-hacemos-card__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/comer.jpeg');
}
.tabs___card--5 > div > .lo-que-hacemos-card__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/061ef1c375cccd5b84d93e4dc0982eb0.jpeg');
}

.selected__tab {
    color: #0096A9 !important;
    font-weight: bolder !important;
    background-color: #FFF !important;
}

@media (max-width: 1000px) {


    .main__hero__text__p-bar,.main__hero__text__p {
        display: none;
    }

    .lo_que_hacemos_info {
       display: none !important;
    }
    .lo_que_hacemos_info--responsive {
        display: flex !important;
        margin: 140px auto 0px;
        flex-direction: column;
        width: 80%;
        position: relative;
        z-index: 1;
    }

    .main__hero {
        height: 250px;
    }
    .main__hero__downbar {
        top: 250px ;
    }

    .lo_que_hacemos_info--responsive div {
        margin: 20px 0px;
    }
    .lo_que_hacemos_info--responsive div > p {
        color: #727272;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 1px;
    }
    .loque__ul--responsive {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .loque__ul--responsive > li {
        color: #545859;
        font-family: Fjalla One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 277.778% */
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .loque__ul--responsive > img {
        height: 30px
    }

    .loque__card--responsive > p {
        color: #727272;
    text-align: justify;
    font-family:    Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-align: justify;
    margin: 20px 0px;
    }

    .loque__list--responsive > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .loque__list--responsive > div > span {
        color: #C04D00;
        text-align: center;
        font-family: Raleway;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 19.8px; /* 61.875% */
        letter-spacing: 1px;
        text-transform: uppercase;

        margin: 5px 0;
    }
    .loque__list--responsive > div > p {
        color: #97928A;
        text-align: center;
        font-family: Barlow;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.71px; /* 142.818% */
        letter-spacing: 1px;
        text-transform: uppercase;

        margin: 5px 0;
    }

    .tabs___card--1 > .loque__bg-img--reponsive {
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/desarrollo.png');
    }
    .tabs___card--2 > .loque__bg-img--reponsive {
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/diseno.jpeg');
    }
    .tabs___card--3  > .loque__bg-img--reponsive {
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/constr.png');
    }
    .tabs___card--4  > .loque__bg-img--reponsive {
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/comer.jpeg');
    }
    .tabs___card--5 > .loque__bg-img--reponsive {
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/061ef1c375cccd5b84d93e4dc0982eb0.jpeg');
    }

    .loque__bg-img--reponsive {
        height: 300px;
        background-size: cover;
    }

    .loque__bg {
        display: inline !important;
        position: absolute;
        background-color: #F5F3F1;        
        height: 700px;
        width: 100%;
        top: 1000px;
        z-index: 0;
        margin: 0 !important;
        margin-top: -100px !important;
    }

    .contacto__form__card {
        width: 90% !important;
        padding: 20px;
    }
    .contacto__form__card__form__container {
        padding-right: 20px !important;
    }
    .footer {
        margin-top: 0px !important;
    }
}

.loque__bg {
    display: none;
}

.selected__tab {
    color: #C04D00 !important;
}

.main__row {
    justify-content: space-around;
}


@media ( max-width: 400px) {
    .footer__nosotros {
        margin-top: 300px !important;
    }
    
}





/* Contacto */

.main__hero__downbar {
    position: static;
}
.main__hero_downbar__title {
    background-color: #FFF ;
}
.main__hero__downbar--contacto {
    position: static;
    height: 200px;
}
.main__hero__downbar--contacto > .main__hero_downbar__text {
    height: 100%;
    background-size: cover;
    width: 45%;
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/contacto/contacto_conoce.jpg');
}
.main__hero__downbar--contacto > .main__hero_downbar__title {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #545859;
}
.main__hero__downbar--contacto > .main__hero_downbar__title > p {
    color: #F5F3F1;
    font-family: Fjalla One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase   
}
.main__hero__downbar--contacto > .main__hero_downbar__title > h2 {
    color: #F5F3F1;
    text-align: start;
}

.contacto__form {
    background-color: #F5F3F1;
    padding: 40px 0;
}
.contacto__form__card {
    margin:  0 auto;
    width: 70%;
    max-width: 900px;
    background-color: #FFF;
    padding: 30px;

    display: flex;
    flex-direction: column;

    padding-right: 0px !important;

}

.contacto__form__card__text > p {
    font-family: 'Raleway';
    font-size: 14px !important;
}
.contacto__form__card__text > span {
    font-family: 'Raleway';
    font-size: 18px !important;
    font-weight: 900;
    color: #0096A9;
}
.contacto__form__card__text > p > b {
    font-family: 'Raleway';
    color: #0096A9;
    font-weight: bolder;
}
.contacto__form__card__form {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.contacto__form__card__form__container--empresa > select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ababab;
    padding: 0px 5px;

    font-family: 'Raleway';
    font-size: 14px !important;
}

.contacto__form__card__form__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px ;
}
.contacto__form__card__form__container > label {
    font-family: 'Barlow';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-weight: 700;  
    color: #0096A9;
    margin-bottom: 5px;
}
.contacto__form__card__form__container > input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ababab;
    padding: 0px 5px;

    font-family: 'Raleway';
    font-size: 14px ;
}
.contacto__form__card__form__container > textarea {
    height: 80px;
    resize: none;
    padding: 10px 10px;

    
    font-family: 'Raleway';
    font-size: 14px ;
}

.contacto__form__card__form__container--email {
    width: 100%;
}
.contacto__form__card__form__container--mensaje {
    width: 100%;
}
.contacto__form__card__form__container--area {
    width: 100%;
}

.contacto__form__card__form__container--area__radio-container {
    display: flex;
}
.contacto__form__card__form__container--area__radio-container > label {
    font-family: 'Raleway';
    font-size: 14px !important;
    margin-right: 15px;
    margin-left: 5px;
}

.contacto__form__card__form--submit {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
}
.contacto__form__card__form--submit > input,.contacto__form__card__form--submit > label {
    padding: 5px 10px;
    font-family: 'Raleway';
    font-size: 14px !important;
}

.footer__contacto {
    margin:  0px;

}

.contacto__form__card__form--portfolio {
    flex-direction: column;   
}

.contacto__form__card__form--portfolio {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 150px;
    justify-content: space-between;
}

.contacto__form__card__form--portfolio--email {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}

.contacto__form__card__form--portfolio--email {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}
.contacto__form__card__form--portfolio--personalidad {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}
.contacto__form__card__form--portfolio--comentarios {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 40px;
}

/* @media (max-width: 1000px) {
 */    .contacto__form__card__form--portfolio--email,.contacto__form__card__form--portfolio--personalidad,
    .contacto__form__card__form--portfolio--comentarios {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 20px;
    }   
/* } */
.contacto__form__card__form--portfolio--email > label {
    font-family: 'Barlow';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-weight: 700;  
    color: #0096A9;
    margin-bottom: 5px;
}
.contacto__form__card__form--portfolio--personalidad > label {
    font-family: 'Barlow';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-weight: 700;  
    color: #0096A9;
    margin-bottom: 5px;
}
.contacto__form__card__form--portfolio--comentarios > label {
    font-family: 'Barlow';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase; 
    font-weight: 700;  
    color: #0096A9;
    margin-bottom: 5px;
}
.contacto__form__card__form--portfolio--email > input {
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ababab;
    padding: 0px 5px;
}
.contacto__form__card__form--portfolio--personalidad > select {
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ababab;
    padding: 0px 5px;

    padding: 5px 10px;
    font-family: 'Raleway';
    font-size: 14px !important;
}
.contacto__form__card__form--portfolio--comentarios > input {
    box-sizing: border-box;
    margin: 0;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #ababab;
    padding: 0px 5px;
}

.contacto__form__card__form--portfolio--propiedad {
    align-content: space-between;
    width: 100%;
}

.contacto__form__card__form--submit {
    justify-content: space-between;
    padding-right: 40px;
}

.contacto__form__card__form--submit > input {
    height: 40px;
}
.contacto__form__card__form--submit > label {
    padding: 0px;
    line-height: 40px;
}


@media (max-width: 1000px) {
    .oportunidades__carousel {
        margin-top: 20px !important;
        margin-bottom: 40px !important;
    }
}
.main__hero_downbar__title {
    position: relative;
    left: 1500px; 
    animation: startTitle 2s both;
}

@keyframes startTitle {
    0%   {
        left: 1500px;
    }
    100% {
        left: 0px;
    }
}