.susAsg_cont2__text {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  & p {
    color: #727272;
    text-align: left;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
  }
}


.contentOne {
  /* height: 50vh; */
  /* max-height: 600px; */
  margin-bottom: 80px !important;
  }

.contentOne_text > p {
  display: inline-block;
  margin-bottom: 10px;
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}

.contentOne__smallText {
  margin-bottom: 20px;
  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 11px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 181.818% */
  letter-spacing: 1px;
}

.contentOne__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/022d04f2-240e-4808-bf26-783a77589246.jpeg');
  width: 100%;
  height: 25vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  margin-bottom: 10px;
}

.susAsg_cont2__icons {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 120px;
}

.susAsg_cont2__icons__item__text {
  display: flex;
  flex-direction: column;
}

.susAsg_cont2__icons__item__text > span {
  color: #d7282f;
  font-family: Barlow Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 277.778% */
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  margin: 20px auto;
}
.susAsg_cont2__icons__item__text > p {
  color: #727272;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 1px;
  text-align: left;
}
.susAsg_cont2__icons__item__img {
  background-image: url("https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/Identificacion.png");
  height: 50px;
  aspect-ratio: 1 / 1;
  background-size: cover;
  margin: 0 auto;
}
.susAsg_cont2__icons__item__img--1 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/icons/sustentabilidad02.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-Y: center;
}
.susAsg_cont2__icons__item__img--2 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/icons/sustentabilidad01.png');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-Y: center;
}
.susAsg_cont2__icons__item__img--3 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/icons/sustentabilidad03.png');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-Y: center;
}

.susAsg_cont2__table {
  background: #f0f0f0;
  padding: 40px;
}

.susAsg_cont2__table__text {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  & p {
    display: inline-block;
    margin-bottom: 20px;
    color: #727272;
    text-align: left;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
  }
}

.susAsg_cont2__table__table {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.susAsg_cont2__table > table {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.susAsg_cont2__table > table > thead {
  width: 100%;
}
.susAsg_cont2__table > table > tbody {
  width: 100%;
}

.susAsg_cont2__table > table > thead > tr {
  display: flex;
  background-color: #0096a9;
}
.susAsg_cont2__table > table > tbody > tr {
  display: flex;
  background: #f5f3f1;
}
.susAsg_cont2__table > table > tbody > tr.secondary {
  background: rgba(178, 180, 178, 0.4);
}

.susAsg_cont2__table > table > thead > tr > th {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700; /* 110% */
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  height: 50px;

  padding-left: 20px;
}
.susAsg_cont2__table > table > tbody > tr > td {
  flex: 1;
  color: #53575a;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.8px; /* 123.75% */
  letter-spacing: 1px;
  /* text-transform: capitalize; */
  min-height: 75px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.susAsg_cont2__table > table > tbody > tr > td {
  padding-left: 20px;
}

.susAsg_cont2_topics {
  padding: 40px 0px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.susAsg_cont2_topics__text > p {
  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
}

.susAsg_cont2_topics__tabs {
  display: grid;
  grid-template-columns: 3fr 7fr;
  margin-top: 40px;
  margin-bottom: 80px;
}
.susAsg_cont2_topics__tabs__selectors__list {
  border-right: 1px solid rgba(178, 180, 178, 0.4);
}

.susAsg_cont2_topics__tabs__selectors__title > span {
  color: #d7282f;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 19.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  height: 60px;
}

.susAsg_cont2_topics__tabs__selectors__list > ul > li {
  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 133.333% */
  letter-spacing: 1px;
  height: 60px;
  cursor: pointer;
  list-style: none;
}
.susAsg_cont2_topics__tabs__selectors__list > ul > li:hover {
  color: #0096a9;
}
.susAsg_cont2_topics__tabs__selectors__list > ul > li.selected {
  font-weight: bolder;
  color: #0096a9;
}

.susAsg_cont2_topics__tabs__contents {
  padding-left: 120px;
  padding-top: 80px;
}

.susAsg_contSecond_topics__tabs__contents {
  display: flex;
}

.susAsg_contSecond_topics__tabs__contents {
  width: 100% !important;
}

.susAsg_contSecond_topics__tabs__contents__logo {
  width: 240px;
  background-color: #fff;
  height: 300px;
  display: flex;
}
.susAsg_contSecond_topics__tabs__contents__logo > img {
  width: 200px;
  height: 200px;
  padding: 50px;
  align-self: center;
}
.susAsg_contSecond_topics__tabs__contents__table {
  width: 100% !important;
  display: flex;
  flex-direction: column;
}
.susAsg_contSecond_topics__tabs__contents__table > thead {
  background: #0096a9;
  height: 60px;
  & tr > th {
    color: #fff;
    text-align: justify;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 2px;
    padding: 20px;
  }
}
.susAsg_contSecond_topics__tabs__contents__table > tbody {
  display: flex;
  flex-direction: column;

  & tr {
    height: 60px;

    & td {
      display: flex;
      align-items: center;
      padding-left: 20px;
      color: #53575a;
      text-align: justify;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      letter-spacing: 1px;
      height: 60px;
      width: 100%;
      text-transform: capitalize;

      background-color: #f5f3f1;
    }
  }
  & .secondary > td {
    background-color: #dadad8 !important;
  }
}

.thirdSection__text {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px;

  p {
    color: #727272;
    text-align: left;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
  }
}

.thirdSection__slider {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px;
  min-height: 280px;

  position: relative;
}

.thirdSection__slider__selectors {
  position: absolute;
  bottom: 10px;
  left: 140px;
  z-index: 1;
}

.thirdSection__slider__selectors > ul {
  display: flex;
}
.thirdSection__slider__selectors > ul > li {
  color: #545859;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.thirdSection__slider__selectors > ul > li.selected {
  color: #FFF;
  background-color: #0096a9;
  border-radius: 50%;
  
}

.thirdSection__slider__content {
  display: flex;
  justify-content: space-between;
  background: rgba(178, 180, 178, 0.20);
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.thirdSection__slider__content__text {
  width: 60%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & span {
    color: #0096a9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 20px;
  }
  & p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-align: left;
  }
}

.thirdSection__slider__content__img {
  width: 280px;
  background-color: #dadad8;
  height: 100%;
  background-repeat:repeat-y;
  background-size: cover;
}


#thirdSection__slider__content--1 > div.thirdSection__slider__content__img {
  background-image: url('https://planiesg.herokuapp.com/static/images/ODS_1.png'); 
}
#thirdSection__slider__content--2 > div.thirdSection__slider__content__img {
  background-image: url('https://planiesg.herokuapp.com/static/images/ODS_5.png'); 
}
#thirdSection__slider__content--3 > div.thirdSection__slider__content__img {
  background-image: url('https://planiesg.herokuapp.com/static/images/ODS_8.png'); 
}
#thirdSection__slider__content--4 > div.thirdSection__slider__content__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/objetivos/10%20Reduccion%20de%20desiigualdades.png'); 
}
#thirdSection__slider__content--5 > div.thirdSection__slider__content__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/objetivos/11%20ciudades%20y%20comunidades.png'); 
}
#thirdSection__slider__content--6 > div.thirdSection__slider__content__img {
  background-image: url('https://planiesg.herokuapp.com/static/images/ODS_16.png'); 
}
#thirdSection__slider__content--7 > div.thirdSection__slider__content__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/objetivos/17%20Alianzas.png'); 
}

.actividades__title {
  display: flex;
  justify-content: center;

}

.forthSection__grid {
  display: flex;
  justify-content: center;
}
/* .forthSection__grid {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px;

  display: grid;
  grid-template-columns: repeat(3, 380px);
  column-gap: 30px;
  row-gap: 30px;
} */

.forthSection__text {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px;

  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
}


.actividades__grid__item {
  max-width: 1000px;
}

@media (max-width: 1400px) {
  .forthSection__grid {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 40px;
  
    display: grid;
    grid-template-columns: repeat(2, 350px);
    justify-content: space-evenly;

  }
  .forthSection__grid > div {
    align-self: center;
  }
}
@media (max-width: 1000px) {

  .forthSection__grid {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 40px;
  
    display: grid;
    grid-template-columns: repeat(1, 380px);

    justify-content: center;
  }
  .gobernanza_section--1 > div > ul {
    flex-direction: column;

    & li {
      text-align: center;
    }
  }

  .splitter {
    display: none;
  }

  .susAsg_cont2__icons {
    grid-template-columns: 1fr;
    margin-bottom: 0px;
  }

  .susAsg_cont2__icons__item__img {
    max-width: 300px;
    margin-top: 20px;
  }
  .susAsg_cont2_topics__tabs {
    grid-template-columns: 1fr;
  }
  .susAsg_cont2_topics__tabs__contents {
    padding: 0px;
  }
  .susAsg_cont2__table > table > tbody > tr {
    flex-wrap: wrap;
  }
  .susAsg_cont2__table {
    padding: 0px !important;
  }
  .susAsg_cont2__table > table > thead > tr > th {
    flex-wrap: wrap;
  }

  .susAsg_cont2__table {
    display: none;
  }

  .susAsg_contSecond_topics__tabs__contents {
    width: 100%;
    flex-wrap: wrap;
  }

  .susAsg_contSecond_topics__tabs__contents__logo {
    background: none;
    width: 100%;
    justify-content: center;

    & img {
      width: 260px;
      height: 260px;
    }
  }


  .thirdSection__slider__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }

  .thirdSection__slider__selectors {
    left: 100px;
  }

  .thirdSection__slider__content__text {
    width: 100%;
    padding: 40px 0px;
  }
  

  .thirdSection__slider__content__img {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    margin: 0;
  }
  .thirdSection__slider__selectors > ul > li {
    margin-right: 0px;
  }

  .header {
    top: 0px;
  }
}

.main-carousel {
  height: 500px;
}

.carousel-cell {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.carousel-cell > img {
  object-fit: cover;
  width: 100%;
}

.thirdSection__slider__selector {
  list-style: none;
}

.sus_charts > span {
  display: inline-block;
  margin-bottom: 20px;
  color: #D7282F;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* Estilos adicionales si es necesario */
.grafica-container {
  display: flex;
  flex-wrap:  wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto 40px;
  justify-content: center;
}

.grafica-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  & p {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;

    color: #727272;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
  }

  & span {
    position: absolute;
    top: 40%;

    color: #727272;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
  }

}

.hero__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/sustentabilidad/plani-materialidad.png');
}


