.hero__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/ambiental/plani-ambiental.png');
    width: 100%;
}

.amb_section--1 > .text > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;

}
.amb_section--1 > .text {
    background-color: #F0F0F0;
    padding: 40px 160px;
}

.amb_section--2 {
}

.amb_section--2 > .title_header {
    height: 40px;
    background-color: #0096A9;
    padding-left: 20px;
}
.amb_section--2 > div > span {
    color: #FFF;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 142.867% */
    letter-spacing: 1px;
}

.amb_section--2 > .grid {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 80px 80px;
    row-gap: 120px;
    column-gap: 40px;
}


.amb_section--2 > .grid > .grid_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.amb_section--2 > .grid > .grid_item > p {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 192.308% */
    letter-spacing: 1px;
}
.amb_section--2 > .grid > .grid_item > .grid_item__img {
    height: 100px;
    width: 100px;
    background-size: cover;
    margin-bottom: 20px;
}

.amb_section--2 > .grid > .grid_item > .grid_item__img--1 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_diversidad.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--2 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_energia.png');}
.amb_section--2 > .grid > .grid_item > .grid_item__img--3 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_group-idea.png');}
.amb_section--2 > .grid > .grid_item > .grid_item__img--4 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_toxic-waste.png');}
.amb_section--2 > .grid > .grid_item > .grid_item__img--5 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_ahorrar-agua.png');
}
.amb_section--2 > .grid > .grid_item > .grid_item__img--6 {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/png-icons/asg_icons/iconos%20asg%20amb-social/A_energia-hidroelectrica.png');
}


.asg_banner_component {
    min-height: 180px;
    background-color: #545859;
    display: flex;

    margin-top: 120px;
    
}

.asg_banner_component > .asg_banner_component__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/contacto/contacto_conoce.jpg');
    width: 30%;
    background-size: cover;

}

.asg_banner_component > .asg_banner_component__txt {
    width: 70%;
    padding: 60px 120px;
}
.asg_banner_component > .asg_banner_component__txt > p {
    color: #FFF;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.43px; /* 142.867% */
    letter-spacing: 1px;
    text-align: justify;
}

.footer {
    margin-top: 0px;
}

@media (max-width: 1000px) {
    
    .hero__img {
        height: 400px;
    }
    .main__hero__downbar {
        top: 20px;
    }
    
    .amb_section--1 {
        padding-top: 20px;
    }
    .amb_section--1 > .text {
        background-color: #F0F0F0;
        padding:  20px;
    }
    .amb_section--1 > .text > p {
        text-align: justify;
    }
    .amb_section--2 > .grid {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        
        padding: 40px; 
        row-gap: 40px;
    }

    .asg_banner_component > .asg_banner_component__txt {
        width: 60%;
        padding: 20px 20px;
    }
    .asg_banner_component > .asg_banner_component__img {
        width: 40%;
        background-position-x: center;
    } 
    
}