.historia__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.historia__timeline {
    margin: 40px 0px 0px 0px;
    height: 100px;
    width: 60%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}

.historia__card {
    margin: 40px 0px;
    height: 700px;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
}


.historia__card__item {
    display: flex;
    flex-direction: column;

}


.historia__card__item__img {
    height: 70%;
    background-size: cover;
}

.historia__card__item__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/equipo/Carla%20Rangel.JPG');
}


.historia__card__item__text {
    height: 30%;
    background-color: white;
}
.historia__card__item__text > span {
    color: #BE4D00;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 45.71px; /* 142.844% */
    letter-spacing: 1px;
}
.historia__card__item__text > p {
    color: #53575A;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.57px; /* 132.643% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.historia__timeline {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.historia__timeline__selector {
    cursor: pointer;
}

.historia__timeline__selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.historia__timeline__selector > p {
    color: #727272;
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
}
.historia__timeline__selector > img {
    width: 12px;
    filter: brightness(0) saturate(100%) invert(69%) sepia(69%) saturate(6%) hue-rotate(49deg) brightness(91%) contrast(93%);
}



.historia__timeline__selector--selected  > p {
    color: #0096A9;
}

.historia__timeline__selector--selected > img {
    width: 12px;
    filter: brightness(0) saturate(100%) invert(41%) sepia(46%) saturate(7145%) hue-rotate(165deg) brightness(99%) contrast(101%);
}

.historia__timeline__line{
    position: absolute;
    height: 100%;
    width: 100%;
}
.historia__timeline__line > img{
    position: absolute;
    height: 2px;
    width: 100%;
    top: 39%;
}
