.historia__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.historia__timeline {
  margin: 40px 0px 0px 0px;
  height: 100px;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.historia__card {
  margin: 40px 0px;
  height: 700px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
}

.historia__card__item {
  display: flex;
  flex-direction: column;
}

.historia__card__item__img {
  height: 250px;
  background-size: cover;
}

.historia__card__item__img {
  background-image: url("https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia/historia-ejemplo.jpeg");
}

.historia__card__item__text {
  height: 30%;
  background-color: white;
}

.historia__card__item__text>span {
  color: #be4d00;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 45.71px;
  /* 142.844% */
  letter-spacing: 1px;
}

.historia__card__item__text>p {
  color: #53575a;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18.57px;
  /* 132.643% */
  letter-spacing: 1px;
  text-align: left;
}

.historia__timeline {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.historia__timeline__selector {
  cursor: pointer;
}

.historia__timeline__selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historia__timeline__selector>p {
  color: #727272;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  letter-spacing: 1px;
  transition: all 0.2s;
}

.historia__timeline__selector>img {
  width: 12px;
  filter: brightness(0) saturate(100%) invert(69%) sepia(69%) saturate(6%) hue-rotate(49deg) brightness(91%) contrast(93%);
  transition: all 0.2s;
}

.historia__timeline__selector>p:hover {
  color: #0096a9;
}

.historia__timeline__selector>img:hover {
  width: 18px;
  filter: brightness(0) saturate(100%) invert(41%) sepia(46%) saturate(7145%) hue-rotate(165deg) brightness(99%) contrast(101%);
}

.historia__timeline__selector--selected>p {
  color: #0096a9;
}

.historia__timeline__selector--selected>img {
  width: 24px;
  filter: brightness(0) saturate(100%) invert(41%) sepia(46%) saturate(7145%) hue-rotate(165deg) brightness(99%) contrast(101%) opacity();
}

.historia__timeline__line {
  position: absolute;
  height: 100%;
  width: 100%;
}

.historia__timeline__line>img {
  position: absolute;
  height: 2px;
  width: 100%;
  top: 39%;
}

.historia__card--tab4,
.historia__card--tab5 {
  grid-template-rows: 1fr 1fr 1fr;
  height: 1100px;
}

.historia__card--tab5>div>div>p {
  font-size: 12px;
}

.footer--historia {
  margin-top: 80px !important;
}

@media (max-width: 400px) {
  .historia__card {
    grid-template-columns: 1fr;
  }
}


.historia__section--resp {
  display: none;
}



/* Responsive Timeline */

@media (max-width: 1000px) {

  .historia__section--resp {
    margin-top: 100px;
    display: flex;
  }

  .historia__timeline {
    display: none;
  }

  .historia__card {
    display: none;
  }

  .historia__card--resp {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: max-content;
    margin-top: 0px;
    margin-bottom: 0px;
    ;
  }

  .historia__card--resp__item {
    flex-direction: row;
    height: 150px;
  }

  .historia__card--resp__item__img {
    width: 150px;
    height: auto;
  }

  .historia__card--resp__item__text {
    width: 70%;
    height: 100%;
    padding: 0px 10px;
    /*
    background-color: #f3f3f3;*/
  }

  .historia__card--resp__item__text>span {
    font-size: 28px !important;
  }

  .historia__card--resp__item__text>p {
    font-size: 10px;
  }

  .historia__card__item__text--overflow {
    font-size: 8px !important;
  }

  /* Synfusion Override */

  .e-acrdn-content {
    padding: 0px !important;
  }

  .e-acrdn-header-content {
    width: 100%;
    text-align: left;
    font-size: 21px !important;
    font-weight: 700 !important;
    color: #727272 !important;
    font-family: 'Raleway';
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .e-accordion .e-acrdn-item.e-select>.e-acrdn-header {
    background: #E8E7E5 !important;
    border: none;
  }

  .e-active>div>.e-acrdn-header-content {
    color: #fff !important;
  }

  /*
  .e-active > .e-acrdn-header {
    background-color: #53575a;
  }*/

  .e-control.e-accordion.e-lib.e-acrdn-root.e-keyboard>.e-acrdn-item.e-select.e-expand-state.e-selected.e-active>.e-acrdn-header {
    background-color: #727272 !important;
  }

  .e-accordion .e-acrdn-item.e-select {
    background: none;
    border-color: #c0c0c0 !important;
    border-style: solid;
    border-width: 0px 0px 1px 0px !important;
  }

  .footer--historia {
    margin-top: 0px !important;
    height: 250px !important;
  }
}


.historia__card__item__img--1 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2023-1.png');background-size: contain;
  background-repeat: no-repeat ;
  background-position-x: center;
}
.historia__card__item__img--2 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1978.png');
}
.historia__card__item__img--3 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1982.png');
}
.historia__card__item__img--4 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1988.png');
}
.historia__card__item__img--5 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1989.png');
}
.historia__card__item__img--6 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1992.png');
}
.historia__card__item__img--7 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1998.png');
}
.historia__card__item__img--8 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/1999.png');
}
.historia__card__item__img--9 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2000.png');
}

.historia__card__item__img--10 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2001.png');
}
.historia__card__item__img--11 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2022.png');
}
.historia__card__item__img--12 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2005.png');
}
.historia__card__item__img--13 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2006.png');
}
.historia__card__item__img--14 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2007.png');
}
.historia__card__item__img--15 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2008.png');
}
.historia__card__item__img--16 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2009.png');
}
.historia__card__item__img--17 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2011.png');
}
.historia__card__item__img--18 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2012.png');

}
.historia__card__item__img--19 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2013.png');
}
.historia__card__item__img--20 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2014.png');
}
.historia__card__item__img--21 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2015.png');
}
.historia__card__item__img--22 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2016.png');
}
.historia__card__item__img--22 {
  background-image: url('https://planigrupo.com.mx/wp-content/uploads/2018/09/2016.jpg');
}
.historia__card__item__img--23 {
  background-image: url('https://planigrupo.com.mx/wp-content/uploads/2018/09/2017.jpg');
}
.historia__card__item__img--24 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/2023.png');
  background-position-y:center ;
}
.historia__card__item__img--25 {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/nosotros/historia_optimized/gmi.jpg');
  border: 1px solid #c0c0c0;
  background-position-y:center ;
}
.historia__card__item__img--26 {
  background-image: url('https://planigrupo.com.mx/wp-content/uploads/2019/01/location-hero-paseo-alcalde-full.jpg');
  border: 1px solid #c0c0c0;
  background-position-y:center ;
}


body > main > section.historia__section > div.historia__card.historia__card--tab5.active > div:nth-child(2) > div.historia__card__item__text > p {
  font-size: 10px;
}
body > main > section.historia__section > div.historia__card.historia__card--tab5.active > div:nth-child(3) > div.historia__card__item__text > p {
  font-size: 10px;
}
body > main > section.historia__section > div.historia__card.historia__card--tab5.active > div:nth-child(4) > div.historia__card__item__text > p {
  font-size: 10px;
}

@media (max-width: 1300px) {
  .footer {
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  .carousel_section {
    display: none;
  }
}

.carousel_section {
  margin-top: 60px;
  margin-bottom: 40px;
}
.main-carousel {
  width: 1200px ;
  max-width: 90%;
  margin: 0 auto;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 400px; /* height of carousel */
  margin-right: 10px;
}
.carousel-cell--last > .carousel-cell__content__item {
  justify-content: start;

  
  & .historia__card__item {
    margin-right: 50px;
  }
}

.carousel-cell__content {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.carousel-cell__content__item {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.historia__card__item {
  height:400px;
  width: 50%;
  max-width: 30%;
}

.footer {
  margin-top: 100px !important;
}
.footer--historia {
  margin-top: 80px !important;
}


.carousel_section_title {

  width: 90%;
  max-width: 1200px;
  margin: 0 auto 40px;

  & span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #be4d00;
    font-family:  Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 45.71px;
    letter-spacing: 1px;
  }
}