@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fjalla+One&family=Fredoka&family=Fresca&family=Raleway:wght@400;600&display=swap');

.main__hero__downbar {
    background-color: #0096A9;
    display: flex;
    position: relative;
    top: 450px;
    height: 100px;
    width: 90%;
}
.main__hero_downbar__text {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100px;
    padding-left: 20%;
}
.main__hero_downbar__text > span {
    color: #FFF;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 12px; /* 100% */
    letter-spacing: 1px;
    text-transform: uppercase;

}
.main__hero_downbar__text > p{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px; /* 110% */
    letter-spacing: 4px;
    text-transform: uppercase;
}
.main__hero_downbar__title {
    display: flex;
    width: 60%;
    background-color: rgba(178, 180, 178);
}