/* 
.lo_que_hacemos_info--grid {
    width: 75%;
    grid-template-rows: 1fr;
    height: max-content;
    margin-bottom: 0px;
}

.lo_que_hacemos_info {
    height: 700px;
}

.lo-que-hacemos-card__text {
    width: 100%;
}

.lo-que-hacemos-card__text > span {
    color: #C04D00;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    margin-bottom: 20px;
}

.lo-que-hacemos-card {
    height: auto;
}

.icon_info__grid__item {
    display: flex;
    height: 100px;
}
.icon_info__grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 100px;
    row-gap: 50px;

    margin-top: 80px;
}


.icon_info__grid__item__text {
    padding-left: 20px;
}

.icon_info__grid__item > img {
    width: 50px;
}

.icon_info__grid__item__text > span {
    color: #C04D00;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.8px;
    letter-spacing: 1px;
    text-transform: uppercase;    
}
.icon_info__grid__item__text > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1px;

    text-align: justify;
    margin-top: 10px;
}

.vision_info_tabs {
    height: 400px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 0px;
    padding-top: 50px;

}

.vision_info_tabs > span {
    color: #C04D00;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    
    display: flex;
    height: 50px;
    width: 75%;
    margin: 0 auto;
}

.vision_info_tabs__container {
    width: 75%;
    height: 400px;
    margin: 0 auto;
}

.vision_info_tabs__container__selector {
    height: 80px;
    display: flex;
}
.vision_info_tabs__container__selector > ul {
    display: flex;
    width: 60%;
    align-items: center;
}
.vision_info_tabs__container__selector > ul > li {
    color: #545859;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;

    padding: 20px;
    height: 80px;

    border-right: #D6D9DA 1px solid;

    flex: 1 ;
    cursor: pointer;
}

.footer {
    margin-top: 650px;
}

.vision_info_tabs__container__content {
    height: 250px;
    background-color: #EFEFED;
}

.vision_info_tabs__container__content > div {
    display: flex;
}

.vision_info_tabs__container__content__text {
    width: 60%;
    padding: 20px;
    position: relative;
}

.vision_info_tabs__container__content__text > span {
    color: #C04D00;
    text-align: center;
    font-family: Barlow;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 1px;
    margin-bottom: 20px;
    display: inline-block;
}
.vision_info_tabs__container__content__text > a {
    color: #0096A9;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.vision_info_tabs__container__content__img {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/d5aa81a86a7b0d8049dd451096f50826.png');
    width: 40%;
    height: 250px;
    background-size: cover;
}
.vision_info_tabs__container__content__text > p {
    color: #727272;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

.tab-selector--selected {
    background-color: #EFEFED;
}

.main__hero {
    background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/foto-3.jpg');
}

.vision_info_tabs__hr {
    margin-bottom: 50px;
}

.main__contact_section {
    display: flex;
    height: 1000px;
    background-color: #0096A9;
}

.selected__tab {
    color: #0096A9 !important;
}
.tab__selector:hover{
    color: #0096A9 !important;
}
.tab__selector {
    color: #545859;
    font-family: Raleway !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: 1px;
    text-transform: uppercase;
}



.main__hero__downbar {
    width: calc( 100% - 500px);
} */

.hero {
    
}