.e-title,.e-day,.e-css.e-btn{
    color: #727272;
    text-align: justify;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 1px;
    height: 50px;   
}

.e-calendar	{
}
