.oportunidades__carousel__div {
    width: 950px;
    height: 450px;
    margin: 60px auto;
    cursor: pointer;
}


.oportunidades__carousel__item {
       background-size: cover;
       background-position-y: center;
       background-position-x: center;
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column-reverse;
       box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
       -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
       -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    }

.oportunidades__carousel__item__text {
    cursor: context-menu;
}    
.oportunidades__carousel__item__text__title {
    height: 70px;
    width: 950px;
    background-color: #0096A999;
    background-color: #9cdbd9;
    justify-content: space-between; }
.oportunidades__carousel__item__text__title__item--title {
    padding: 0px 20px;
    height: 40px;
}
.oportunidades__carousel__item__text__title__item--desc {padding: 0px 20px; 
    height: 30px;
    background-color: #727272dd;
}
.oportunidades__carousel__item__text__title__item {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px 15px;
    justify-content: space-between;

    position: relative;

    & span {
        color: #FFF;
        color: #545454;
        font-family: Fjalla One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19%;
    }
    & .title {
        width: 30%;
        justify-content: start;
    }
    & .comercializacion {
        width: 32%;
        text-transform: lowercase;

    }
    & p {
        color: #FFF;
        font-family: Barlow;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 1px;
        position: absolute;
    }
    & .contact {
        left: 295px;
        /* text-transform: lowercase; */
    }
    & .date {
        left: 612px;
    }
    & .area {
        left: 800px;
        /* text-transform: lowercase !important; */
    }
}


.oportunidades__carousel__item__text__title__item > .title {
    width: 30%;
    justify-content: start;
}


.oportunidades__carousel__item__text__desc {
    height: 140px;
    width: 950px;
    background-color: #FFF;
    display: flex;
    padding: 15px;
}

.oportunidades__carousel__item__text__desc__item {
    width: 50%;
    display: flex;
    justify-content: end;
    & p {
        color: #454545;
        text-align: justify;
        font-family: Raleway;
        font-family: 'Barlow COndensed';
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
    }
    & div {
        width: 80px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/logos/cinemex.png');
        background-position-y: center;        
        margin-left: 20px;
    }
}

.e-carousel.e-partial .e-carousel-slide-container {
    padding: 0 25%;
}

@media(max-width: 2000px) {
   
    .e-carousel.e-partial .e-carousel-slide-container {
        padding: 0 21%;
    }
}
@media(max-width: 1700px) {
   
    .e-carousel.e-partial .e-carousel-slide-container {
        padding: 0 17%;
    }
}
@media(max-width: 1500px) {
   
    .e-carousel.e-partial .e-carousel-slide-container {
        padding: 0 10%;
    }
}
@media(max-width: 1300px) {
   
    .e-carousel.e-partial .e-carousel-slide-container {
        padding: 0 9%;
    }
}
@media(max-width: 1200px) {
   
    .e-carousel.e-partial .e-carousel-slide-container {
        padding: 0 0%;
    }

    .oportunidades__carousel__div {
        min-width: 350px;
        width: 70%;
        height: 280px;
        margin: 100px auto;
        cursor: pointer;
    }

    .e-carousel .e-carousel-items {
        height: 400px;
    }
    .control-container {
        height: 400px;
    }
    .oportunidades__carousel {
        margin-top: -50px;
        position: relative;
        z-index: -1;
    }

    .main__all-properties {
        margin-top: 40PX;
    }
}
