.hero {
  display: flex;
  height: 360px;
}
.hero__img {
  background-image: url("https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/oportunidades-properties/Cancun5.jpg");
  width: 70%;
  background-size: 120%;
  background-position-x: center;
  background-position-y: top;
}
.header {
  z-index: 2;
}
.hero__text {
  width: 30%;
  background-color: #f5f3f1;
  position: relative;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.hero__text > span {
  color: #c04d00;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 21.43px; /* 119.056% */
  letter-spacing: 1px;
}

.invisible {
  opacity: 0;
}

.hero__text__content {
  height: 100px;
  display: flex;
  align-items: center;
}

.hero__text__content > p {
  color: #53575a;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 153.071% */
  letter-spacing: 1px;
  padding: 0 40px;

  position: absolute;

  transition: all 0.3s;
}

.section--1 {
  min-height:350px;
  width: 100%;

  margin-top: 60px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.section--1__area--1 {
  grid-area: 2 / 1 / 7 / 3;
  background: #f5f3f1;
  border-top: #c9c8c7 1px solid;
}

.tabs {
  grid-area: 1 / 3 / 2 / 11;
  /*background-color: #F5F3F1;*/
}

.tabs > .tabs__selectors > ul {
  display: flex;
}
.tabs > .tabs__selectors > ul > li {
  cursor: pointer;
  height: 50px;
  flex: 1;
  padding: 0px 20px;
  color: #545859;
  text-align: center;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #c9c8c7 1px solid;
}
.tabs > .tabs__selectors > ul > .selected {
  background-color: #f5f3f1;
  border-left: 1px;
  color: #c04d00;
  font-weight: bolder;
  border-left: #c9c8c7 1px solid;
  border-right: #c9c8c7 1px solid;
  border-bottom: none;
}

.tab__contents > .asg_tab_content {
  padding: 40px 40px 40px 0px;
  display: flex;
  height: 100%;
}
.tab__contents > .asg_tab_content > .asg_tab_content__p > p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.833% */
  letter-spacing: 1px;

  color: #53575a;
  text-align: left;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  
}
.tab__contents > .asg_tab_content > .asg_tab_content__anchor {
  width: 30%;
  padding-left: 40px;
  border-left: #c9c8c7 1px solid;
}
.tab__contents > .asg_tab_content > .asg_tab_content__anchor > a {
  color: #d7282f;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.86px; /* 163.286% */
  letter-spacing: 2px;
  text-decoration: none;

  padding-bottom: 20px;
  display: inline-block;
  border-bottom: #d7282f 1px solid;
}
.tab__contents > .asg_tab_content > .asg_tab_content__p {
  width: 70%;
  padding-right: 40px;
}

.tabs__imgs {
  grid-area: 2 / 11 / 7 / 13;
  background-image: url("https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/asg_que_estamos.PNG");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  width: 500px;
}

.tab__contents {
  grid-area: 2 / 3 / 7 / 11;
  background-color: #f5f3f1;
}

.section--2 {
  margin-top: 40px;
}
.section--2 > .reports__container {
  width: 90%;
  max-width: 1000px;
  min-height: 300px;
  margin: 0 auto;

  display: flex;
}

.section--2 > .reports__container > .reports__item {
  width: 100%;
}

.section--2
  > .reports__container
  > .reports__item
  > .reports__item__title_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section--2
  > .reports__container
  > .reports__item
  > .reports__item__title_container
  > span {
  color: #d7282f;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 142.875% */
  letter-spacing: 1px;
  width: 100%;
  height: 60px;
}

.section--2 > .reports__container > .reports__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section--2
  > div
  > div.reports__item.reports__item--1
  > div.reports__item__reports {
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section--2
  > .reports__container
  > .reports__item--1
  > .reports__item__reports
  > .reports__item__reports__report {
  background-color: #f5f3f1;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  padding: 40px;
}
.section--2
  > .reports__container
  > .reports__item--1
  > .reports__item__reports
  > .reports__item__reports__arrow {
    display: flex;
    justify-content: center;
    background-image: url('./arrow.svg');
    transform: rotate(-90deg);
    height: 20px;
    width: 30px;
    background-repeat: no-repeat;
}
.section--2
  > .reports__container
  > .reports__item--1
  > .reports__item__reports
  > .reports__item__reports__arrow--reversed {

    transform: rotate(90deg)
}

.section--2
  > .reports__container
  > .reports__item--1
  > .reports__item__reports
  > .reports__item__reports__report
  > span {
  color: #c04d00;
  text-align: center;
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.8px; /* 61.875% */
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: start;

  display: inline-block;
  margin-bottom: 10px;
}
.section--2
  > .reports__container
  > .reports__item--1
  > .reports__item__reports
  > .reports__item__reports__report
  > a {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 222.222% */
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 30px;
  padding: 0px 5px;

  height: 30px;
  margin-bottom: 10px;

  background-color: #C04D00;
}

hr {
  height: 1px;
  background-color: #dadad8;
  border: none;
}

.reports__item--2 > .reports__item__calendar {
  height: 100%;

  padding-left: 40px;
  border-left: #c9c8c7 1px solid;
}

.reports__item__calendar > #container,
.reports__item__calendar > #container > #element {
  margin: 0px;
}

.reports__item__calendar > #container > #element {
  max-width: 100% !important;
}

.section--3 {
  margin: 40px 0px;
}

.section--3 > .actividades {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.section--3 .actividades > .actividades__title {
  width: 100%;
  display: flex;
}
.section--3 .actividades > .actividades__title > span {
  display: inline-block;
  margin: 0 auto 20px;
  color: #d7282f;
  text-align: center;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 50px;
}

.section--3 .actividades > .actividades__filters {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.section--3 .actividades > .actividades__filters > .actividades__filters__filter {
  margin-right: 40px;
}

.section--3 .actividades > .actividades__filters > .actividades__filters__filter > span {
  color: #97928A;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.29px; /* 102.071% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section--3 .actividades > .actividades__filters > .actividades__filters__filter > select {
  /* margin-left: 10px;
  height: 30px;
  border: 1px solid #A5A6A8;
  background: #EFEFED;

  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #A5A6A8; */
  
  box-sizing: border-box;
  margin: 0;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ababab;
  padding: 0px 5px;
  
  padding: 5px 10px;
  font-family: "Raleway";
  font-size: 14px !important;

}

.section--3 > .actividades > .actividades__grid {
  margin-top: 40px;
  width: 100%;
  column-gap: 30px;
  row-gap: 30px;
}
.grid__tab__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.actividades__grid__item {
  max-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.actividades__grid__item__title {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  align-items: start;
  padding-top: 5px;
}

.actividades__grid__item__title > p {
  color: #BE4D00;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18.57px; /* 142.846% */
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

.actividades__grid__item__img {

  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/Inauguraci%C3%B3n%20de%20%C2%B4%C2%B4ESPAZIOS%20IEMUJERES%20y%20PUNTO%20NARANJA%C2%B4%C2%B4%20(2).jpg');
  height: 220px;
  width: 100%;
  background-size: cover;
  margin-bottom: 10px;
}

.actividades__grid__item__description {
  margin-bottom: 10px;
  height: 80px;
}

.actividades__grid__item__description > p {
  color: #727272;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 125% */
  letter-spacing: 1px;
  text-align: justify;
}


.actividades__grid__item__a {
  background: #EFEFED;
/*   background: #d7282f;
 */  width: fit-content;
 border: 1px solid #A5A6A8;
background: #EFEFED;
}
.actividades__grid__item__a:hover {
  transition: all .2s;
  background-color: #d7282f;
  border: 1px solid #8e0f14;
}

.actividades__grid__item__a > a {
  color: #97928A;
  /*   color: #FFF; */  
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.29px; /* 142.9% */
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  padding: 0px 20px;
  
  cursor: pointer;
}
.actividades__grid__item__a > a:hover {
  color: #fff;
}


@media (max-width: 1000px) {

  .section--2
  > div
  > div.reports__item.reports__item--1
  > div.reports__item__reports {
      flex-direction: column;
    }

  .hero {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
  }
  .hero__img {
    background-image: url("https://planigrupo.blob.core.windows.net/planigrupo/assets/images/comer/oportunidades/oportunidades-properties/Cancun5.jpg");
    background-size: cover;
    background-position-x: -50vw;
    width: 100%;
    height: 200px;
  }
  .hero__text {
    width: 100%;
    padding-top: 100px;
  }
  .hero__text > span {
    margin-top: 20px;
  }
  .main__hero__downbar--red {
    top: -80px;
  }

  .section--1 {
    margin-top: 60px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 300px 400px;
  }

  .section--1 > .tabs {
    grid-area: 1 / 1 / 2 / 2;
    height: 200px;
  }

  .section--1 > .tabs > .tabs__selectors > ul {
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
  }
  .section--1 > .tabs > .tabs__selectors > ul > li {
    width: 100% !important;
    border: none;
  }

  .section--1 > .tab__contents {
    grid-area: 2 / 1 / 3 / 2;
  }

  .section--1 > .tab__contents > .asg_tab_content {
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  .section--1 > .tab__contents > .asg_tab_content > .asg_tab_content__p {
    width: 100%;
    padding: 0;
  }
  .section--1 > .tab__contents > .asg_tab_content > .asg_tab_content__anchor {
    width: 100%;
    padding: 0;
    border: none;
    display: flex;
    justify-content: end;
  }

  .section--1 > .tabs__imgs {
    grid-area: 3 / 1 / 4 / 2;
    margin: 20px;
    background-size: 160%;
  }

  .section--2 > .reports__container {
    flex-direction: column;
  }
  .section--2 > .reports__container > .reports__item {
    width: 100%;
  }
  .section--2
    > .reports__container
    > .reports__item--1
    > .reports__item__reports
    > .reports__item__reports__report {
    width: 40%;
    padding: 20px 20px;
  }

  .reports__item--2 > .reports__item__calendar {
    padding: 0;
    border: none;
  }

  .reports__item__calendar > #container {
    display: flex;
  }
  
  .section--3 > .actividades > .actividades__grid {
    margin-top: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .actividades__grid__item {
    max-width: 100%;
  }

  .actividades__filters {
    flex-direction: column;
  }

  .actividades__filters__filter:first-child {
    margin-bottom: 20px;
  }

  .footer {
    margin-top: 0px !important;
  }

  .detail__dialog__img > img {
    height: 350px !important;
  }

  .detail__dialog__date__category {
    width: 100% !important;
  }

  .grid__tab__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

}


#dialog {
  max-height: 800px !important;
}

.detail__dialog {
  box-shadow: -1px -3px 8px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px -3px 8px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px -3px 8px 0px rgba(0,0,0,0.5);
  padding: 40px;
}
.detail__dialog__img {
  display: flex;
  flex-direction: column;
}
.detail__dialog__img > img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.detail__dialog__img > a {
  display: inline-block;
  margin: 20px 0px;
  color: #d7282f;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: bolder;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
}

.detail__dialog__title {
  min-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.detail__dialog__title > h5 {
  color: #C04D00;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: 19.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
}


.detail__dialog__date__category {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.detail__dialog__date__category > div > i {
  color: #53575a !important;
  margin-right: 10px;
}

.detail__dialog__date__category > div > span {
  color: #545859;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.8px; /* 110% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.detail__dialog__desc {
  margin-top: 40px;  
}
.detail__dialog__desc > p {
  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
}

.detail__dialog__close {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.detail__dialog__close > button {
  background-color: #d7282f;

  color: #97928A;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14.29px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
  border: none;
}
.detail__dialog__close > button:hover {
  transition: all .2s;
  background-color: #8e0f14;
}


.actividades__grid__tab__selectors {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.actividades__grid__tab__selectors > ul {
  display: flex;
  margin-top: 40px;
  justify-items: end;
}
.actividades__grid__tab__selectors > ul > li {
  width: 50px;
  height: 50px;
  margin-left: 20px;

  background-color: #d7282f;
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}
.actividades__grid__tab__selectors > ul > li:hover {
  background-color: #8e0f14;
  transition: all .2s;
}

.actividades__grid__tab__selectors > ul > .selected {
  background-color: #8e0f14;
}

.footer {
  margin-top: 0px !important;
}

.carousel-cell {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.carousel-cell > img {
  object-fit: cover;
  width: 100%;
}