:root {
  --brigth-red: #D7282F;
  --brown-red: #d7282f;
}

.hero__img {
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/gobernanza/plani-gobierno.png');
}
.amb_section--1 > .text > p {
  max-width: 1200px;
  margin: 0 auto;

  text-align: left;
}

.gobernanza_section--1__selectors {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.gobernanza_section--1 > div > ul {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  max-width: 90%;
  margin-bottom: 20px;
  margin-top: 40px;
  justify-content: space-between;
}

.gobernanza_section--1 > div > ul > li {
  color: #53575a;
  font-family: Barlow Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px; /* 277.778% */
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none;

  cursor: pointer;
}
.gobernanza_section--1 > div > ul > .selected {
  color: var(--brown-red);
  font-weight: 600;
}

.gobernanza_section--1 > #gober_asg_content--1 > div {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.gobernanza_section--1 > #gober_asg_content--1 > div > p {
  color: #727272;
  text-align: justify;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  height: 30px; /* 142.857% */
  letter-spacing: 1px;

  display: inline-block;
  margin-bottom: 40px;
}

.gobernanza_section--1 > #gober_asg_content--1 > #section--1__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 60px;
  row-gap: 60px;
  margin-bottom: 60px;
}

.gobernanza_section--1
  > #gober_asg_content--1
  > #section--1__grid
  > .section--1__grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gobernanza_section--1
  > #gober_asg_content--1
  > #section--1__grid
  > .section--1__grid__item
  > img {
  margin-bottom: 40px;
}

.gobernanza_section--1
  > #gober_asg_content--1
  > #section--1__grid
  > .section--1__grid__item
  > p {
  color: #727272;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1px;
}

.section--1__splitter {
  margin: 0px !important;
  height: 50px;
  background-color: #b2b4b2;
  width: 100% !important;
  max-width: 100% !important;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.section--1__splitter > span {
  color: #fff;
  font-family: Barlow Condensed;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.43px; /* 142.867% */
  letter-spacing: 1px;
}

.section--1__grid--2 {
  background-color: #f0f0f0;
  max-width: 100% !important;
  width: 100% !important;
}

.section--1__grid--2 > div {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 60px 0px;
}

@media (max-width: 1000px) {
  .section--1__grid--2 > div {
    grid-template-columns: repeat(1, 1fr);
    
  }
  #section--1__grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.section--1__grid--2__item {
  background-color: #fff;
  padding: 20px 40px;
  height: 220px;
}

.section--1__grid--2__item__number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--1__grid--2__item__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.section--1__grid--2__item__name > p {
  color: #0096a9;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.86px; /* 142.875% */
  letter-spacing: 2px;
  text-align: center;
}

.section--1__grid--2__item__number > span {
  color: #97928a;
  text-align: center;
  font-family: Raleway;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
}
.section--1__grid--2__item__number > p {
  color: #545859;
  text-align: center;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.14px; /* 142.833% */
}

#gober_asg_content--2 {
}

.gober_asg_content--2__tabs__selector {
  max-width: 750px;
  width: 90%;
  display: flex;
  margin: 40px auto;
}

.gober_asg_content--second__tabs__selector__item {
  color: #545859;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.86px; /* 142.875% */
  letter-spacing: 1px;
  border-bottom: 1px solid #DDDDDD;

  cursor: pointer;
}
.gober_asg_content--second__tabs__selector__item:nth-child(2) {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}
.gober_asg_content--second__tabs__selector__item.selected{
  color: var(--brigth-red);
  background-color: #f0f0f0;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 22.86px; /* 142.875% */
  letter-spacing: 1px;
}


.gober_asg_content--2__tabs__content--1--up {
  max-width: 750px;
  width: 90%;
  margin: 40px auto 0px;
}
.gober_asg_content--2__tabs__content--1__text {
  display: flex;
  flex-direction: column;
}
.gober_asg_content--2__tabs__content--1__text--bottom {
  margin-top: 60px;
}
.gober_asg_content--2__tabs__content--1__text > p {
  color: #727272;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 20px;
}
.gober_asg_content--2__tabs__content--1__text > span {
  color: #0096A9;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 312.5% */
  letter-spacing: 1px;
  text-transform: uppercase;
}

.gober_asg_content--2__tabs__content--1__text--bottom > p {
  color: #0096A9;
  text-align: center;
  font-family: Barlow Condensed;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 357.143% */
  letter-spacing: 1px;
  text-transform: uppercase;  
}
.gober_asg_content--2__tabs__content--1__text--bottom > span {
  line-height: 30px;
}

.gober_asg_content--2__tabs__content--1__icons {
  display: flex;
  justify-content: space-between;
}

.gober_asg_content--2__tabs__content--1__icons__item {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gober_asg_content--2__tabs__content--1__icons__item--alone {
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & img {
    width: 230px !important;
  }
}
.gober_asg_content--2__tabs__content--1__icons__item > img {
  padding: 40px;
  height: 130px;
}
.gober_asg_content--2__tabs__content--1__icons__item > p {
  color: #727272;
  text-align: left;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 1px;
}

.gober_asg_content--3__download {
  margin: 40px auto;
  max-width: 750px;
  width: 90%;
}
.gober_asg_content--3__download__item {
  height: 60px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background: #DADAD8;
  & span {
    color: #53575A;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  & a {
    color: #53575A;
    text-align: justify;
    font-family: Raleway;
    font-size: 10px;
    font-style: normal;
    font-weight: bolder;
    line-height: 20px; /* 200% */
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
  }
}
.gober_asg_content--3__download__item:nth-child(2) {
  background-color: #F5F3F1;
}

.gober_asg_content--3__imgText {
  max-width: 1200px;
  height: 450px;
  width: 90%;
  margin: 80px auto;
  display: flex;
}
.gober_asg_content--3__imgText__img {
  align-self: flex-end;
  width: 40%;
  height: 450px;
  background-image: url('https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/gobernanza/section3.png');
  background-size: cover;
  background-position-x: -80px;
}
.gober_asg_content--3__imgText__text {
  width: 60%;
  background: #F5F3F1;
  padding: 40px 80px 40px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
  & span {
    color: #53575A;
    font-family: Barlow Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 194.444% */
    display: inline-block;
    margin-bottom: 20px;
  }
  & p {
    color: #53575A;
    font-family: Raleway;
    text-align: justify;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.57px; /* 142.846% */
  }
  
}

@media (max-width: 1000px) {
  .gober_asg_content--3__imgText {
    flex-direction: column;
    height: 675px;
  }
  .gober_asg_content--3__imgText__text {
    padding: 20px;
    width: 100%;
  }
  .gober_asg_content--3__imgText__img {
    height: 600px;
    width: 100%;
    align-self: self-start;
  }
}

.actividades__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.actividades__notFound {
  background-color: #545859;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  
  & span {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 194.444% */
  }
}

/*
https://planigrupo.blob.core.windows.net/planigrupo/assets/images/asg/gobernanza/section3.png
*/

li {
  list-style: none;
}

.section--3 {
  margin-top: 40px;
}

.qoute {
  margin-bottom: 40px;
  
}
.qoute > div {
  width: 100%;
}
.qoute > div > img {
  filter: brightness(0) saturate(100%) invert(38%) sepia(100%) saturate(6405%) hue-rotate(347deg) brightness(89%) contrast(86%);
}